name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7

      - name: Set up Python
        run: uv python install

      - name: Run Tests
        run: uv run pytest

      - name: Run Lint
        run: uv run ruff check

      - name: Run Formatter
        run: uv run ruff format --check
