name: CI
on:
  push:
    branches: [master]
    paths:
      - .github/workflows/ci.yaml
      - pyproject.toml
      - uv.lock
      - .python-version
      - toolbox/**
  pull_request:
    branches: [master]
    paths:
      - .github/workflows/ci.yaml
      - pyproject.toml
      - uv.lock
      - .python-version
      - toolbox/**
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7

      - name: Set up Python
        run: uv python install

      - name: Run Tests
        run: uv run pytest

      - name: Run Lint
        run: uv run ruff check

      - name: Run Formatter
        run: uv run ruff format --check
